<div>
    <h1>[[ stats.username ]] - <a ng-click="back()">[[league_name]]</a></h1>
    <li><Strong>Game Count:</Strong> [[stats.game_count]]</li>
    <li><Strong>Win Count:</Strong> [[stats.win_count]]</li>
    <li><Strong>Lose Count:</Strong> [[stats.lose_count]]</li>
    <li><Strong>Win Streak:</Strong> [[stats.win_streak]]</li>
    <li><Strong>Lose Streak:</Strong> [[stats.lose_streak]]</li>
    <li><Strong>Longest Win Streak:</Strong> [[stats.longest_win_streak]]</li>
    <li><Strong>Longest Lose Streak:</Strong> [[stats.longest_lose_streak]]</li>
    <li><Strong>Rating:</Strong> [[stats.rating | number:0]]</li>
    <br/>
    <li><font size="4"><Strong>[[currentUser.username]]Head To Head:</Strong> You've won <strong>[[stats.head_to_head.your_wins]]</strong> and lost <strong>[[stats.head_to_head.your_loses]]</strong></font></li>
</div>
